/* CSS diaporama */
@charset "UTF-8";

/* article RESET */
#n-e em {font: inherit;}
#n-e li, #n-e ul { margin-left: 0; padding-left: 0;}
#n-e img {max-width: 100%; height: auto; }
h1, h2, p {	margin: 0;}

#n-e figure { background-color: transparent; margin: auto;}
	#n-e figure::after {display: none; }

#n-e figure img {
	width: 100%;
}

/* UTILS */

#n-e .clearfix::before,#n-e .clearfix::after {
	content: "\0020";
	display: block;
	line-height: 0;
	height: 0;
	width: 0;
	visibility: hidden; }

#n-e .clearfix::after {clear: both;}
#n-e .hidden {display: none;}

@media screen and (min-width: 768px) {
	#n-e .hidden-big-screen {
		display: none;
	}
}


/* end UTILS */


/* GENERAL SETTINGS */

#n-e {
	font: 16px/1.4em Georgia,serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga" on;
    		font-feature-settings: "liga" on;
    color: #191919;
}

#n-e .commonText div:first-of-type p:first-of-type::before {
	content: "\201C";
	line-height: 0.94em;
	float: left;
	font-family: sourceserifpro-black, serif;
	font-weight: 400;
	color: #000;
	
	font-size: 10em;
	height: 50px;
	margin-right: 10px;
}

#n-e .commonText p {
	margin-bottom: 1em;
	line-height: 1.6em;
}

#n-e .commonText p .note {
	font-size: 0.85em;
	display: inline-block;
	line-height: 1.5em;
}

#n-e .commonText p q {
	font-style: italic;
}

#n-e .sep {
	max-width: 400px;
	width: 60%;
	margin: 40px auto;
}

#n-e .textQuote {
	font-size: 1.5em;
	line-height: 1.185185185em;
	font-weight: bold;
	display: block;
	margin-bottom: 0.35em;
}

#n-e .commonText p a {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    color: #000;
}

	#n-e .content p a:hover {
		color: #e2a700;
		border-bottom: none;
	}

#n-e .commonText em { 
    font-family: "Source Serif Pro";
    font-weight: 700;
    box-shadow: inset 0 -10px 0 rgba(226, 167, 0, 0.39);
}
	
/* end GENERAL SETTINGS */


/* STRUCTURE */

#n-e .step-hidden {
	display: none;
}

#n-e .widthWrap,
#n-e .smallWrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto; 
}

#n-e .widthWrap {
	max-width: 1000px;
}
		
	@media (max-width: 1000px) {
		/* #n-e .widthWrap {
			padding: 0 3.90625%; }  */
	}


#n-e .smallWrapper {
	max-width: 700px;
	padding: 0 20px;
	margin:  30px auto 40px;
}

	@media (min-width: 720px) {
		#n-e .smallWrapper {
			padding-left: 0;
			padding-right: 0;
		}


		#n-e .commonText div:first-of-type p:first-of-type::before {
			font-size: 17em;
			height: 100px;
			margin-right: 24px;
		}

	}


#n-e .fixedLeftCollumn {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	 -webkit-flex-direction: column;
	 -moz-flex-direction: column;
	 -ms-flex-direction: column;
	 -o-flex-direction: column;
	 flex-direction: column;
}

	#n-e .blocQuestion {
		font-family: oswald-bold,sans-serif;
    	font-weight: 400;
    	font-size: 1.15em;
    	text-align: center;
    	padding: 16px 0px;
	}

		#n-e .blocQuestion span {
    		color: #fff;
    		display: block;
    		padding-bottom: 0.7em;
		}

		#n-e .blocQuestion .btn:hover,
		#n-e .btn.btn-yellow {
		    background-color: rgba(226, 167, 0, 1);
    		border-color: rgba(226, 167, 0, 1);
		}



	#n-e .fixedLeftCollumn>*:nth-child(2) {
		min-width: 320px;
		max-width: 574px;
		padding: 1em 1.75em;
		padding-right: 4em;
	}


@media (min-width: 768px) {
	#n-e .fixedLeftCollumn {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}

	#n-e .fixedLeftCollumn>*:nth-child(1) {
		width: 225px;
		flex: 0 0 225px;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 225px;
		    -ms-flex: 0 0 225px;
		        flex: 0 0 225px;
	}

	#n-e .fixedLeftCollumn>*:nth-child(3) {
		width: 178px;
		flex: 0 0 178px;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 178px;
		    -ms-flex: 0 0 178px;
		        flex: 0 0 178px;
	}

	#n-e .blocQuestion {
		font-size: 1.222222222em;
	}
}



/* end STRUCTURE */


/* ELEMENTS */

/* btn */
#n-e .btn {
    border-radius: .3em;
    padding: .5em 1.57em;
    -ms-touch-action: none;
    touch-action: none;
    line-height: 1.2em;
    font-family: oswald-bold,sans-serif;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: opacity .15s ease-out;
    color: #000;
    text-decoration: none;
    background-color: #a7a7a7;
    border: solid .114em;
    border-color: #a7a7a7;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* banner */
#n-e .topBanner {
	padding: 0 20px;
	background-color: #6688b3;
}

	#n-e .topBanner img {
		display: block;
		margin: 0 auto;
		min-width: 120px;
		max-width: 225px;
	}

	#n-e .topBanner h1 {
		font-family: oswald-bold, sans-serif;
		font-weight: 400;
		font-size: 1.388888889em;
		text-align: center;
		line-height: 1.28;
		text-align: center;
		/* -ms-align-self: stretch;
		align-self: stretch; */
	}
	#n-e .topBanner h1 span { 
		text-indent: -99999px; 
		display: none;
	}
	#n-e .topBanner p {
		color: #fff;
		font-family: Georgia, serif;
		font-weight: bold;
		padding: 0;
		text-align: center;
		font-size: 0.9em;
		line-height: 1.3;
	}

/* tag */
#n-e .tag {
	font-family: oswald-bold, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #ccc;
	color: #fff;
	padding: 0.4em 1em;
}
	
	#n-e .article-header .tag {
		margin: 1.4em 10% 0;
	}

	#n-e .tag--big { font-size: 1.444444444em; }
	#n-e .tag--env { background-color: #6688b3;}

/* cheapeau */
#n-e .chapeau {
	font-family: oswald-light, sans-serif;
	font-weight: 200;
}
	#n-e .chapeau em {
		font-family: oswald-bold, sans-serif;
		font-weight: 400;
	}

#n-e .article-header .chapeau {
	font-size: 1.555555556em;
	line-height: 1.2em;
}


#n-e .article-header h1 {
	display: none;
}

/* common text */
#n-e .commonText .smallWrapper {
}

	#n-e .commonText h2 {
		font-size: 1.222222222em;
		background-color: #000;
		color: #fff;
		font-family: oswald-bold, sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		padding: .363636364em;
		line-height: 1em;
		display: inline-block;
		margin-bottom: .818181818em;
	}

	#n-e .legend {
		background-color: #000;
		color: #fff;
		font-size: 0.8em;
		font-family: oswald-light, sans-serif;
		font-weight: 200;
		padding: 0.3em .6em;
		text-align: right;
	}

/* slider */
#n-e .slider {
	position: relative;
    margin-bottom: 40px;
}

	#n-e .slide {
		transition: opacity .15s;
		will-change: opacity;
		z-index: 2;
	}

	#n-e .slide:not(:first-child) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		pointer-events: none;
	}

	#n-e .slide.visible {
		pointer-events: auto;
		opacity: 1;
	}

	#n-e .slider + #n-e .smallWrapper,
	#n-e .smallWrapper + #n-e .smallWrapper {
		margin-top: 40px;
	}

	#n-e .slider blockquote {
		color: #fff;
		margin: 0;
		font-size: 1.1em;
		font-family: oswald-bold, sans-serif;
		font-weight: 400;
		line-height: 1.24em;
		text-align: center;
		padding: 0 100px;
	}
		#n-e .slider blockquote::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #000;
			opacity: 0.6;
			z-index: -1;
		}

		#n-e .slider blockquote::before,
		#n-e .slider blockquote div {
			display: inline-block;
			vertical-align: middle;
		}
		#n-e .slider blockquote::before {
			width: 0;
			height: 100%;
			content: "";
			margin-right: -0.25em;
		}

		#n-e .slider cite {
			font-family: oswald-light, sans-serif;
			font-weight: 200;
			font-size: .84em;
		}

	#n-e .slider button {
		position: absolute;
		top: 0;
		z-index: 6;
		height: 100%;
		background: none;
		-webkit-appearance: none;
		border: none;
		outline: none;
		padding: 0;
		width: 60px;
	}
		#n-e .slider button svg {
			position: absolute;
			top: 50%;
			width: 21px;
			height: 38px;
			margin-top: -22px;
		}


		#n-e .slider .btnLeft svg{ left: 1em; }

		#n-e .slider .btnRight { right: 0 }
		#n-e .slider .btnRight svg{ right: 1em; }

		#n-e .slider .btnLeft::before,
		#n-e .slider .btnRight::before {
			content: "";
			display: block;
			height: 100%;
			width: 100%;
		}


/* conclusion */
#n-e .conclusion {

}
	#n-e .conclusion-bigLink {
		color: #191919;
		text-decoration: none;
		margin-bottom: 2.5em;
		display: block;
		transition: color 0.15s;
		will-change: color;
	}

		#n-e .conclusion-bigLink:hover {
			color: #e2a700;
		}

	#n-e .conclusion h2,
	#n-e .conclusion h3 {
		font-family: oswald-bold, sans-serif;
		font-weight: 500;
	}

	#n-e .conclusion h2 {
		font-size: 1.625em;
		line-height: 1.2em;
		margin-bottom: 0.7em;
	}

	#n-e .conclusion-bigLink h3 {
	    line-height: 1.1;
	    font-size: 1.7em;
	    margin: 0 0 0.4em;
	}

	#n-e .conclusion-bigLink img {
		width: 100%;
		margin-bottom: 0.75em;
	}


#n-e .credits {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
	margin-top: 3em;
    padding-left: 10px;
    padding-right: 10px;
}
    #n-e .credit-title,
    #n-e .credits h3 {
        margin: 0;
        font-size: 1.125em;
        margin-bottom: 8px;
        line-height: 1.1em;
        font-family: oswald-bold, sans-serif
    }
    #n-e .credits p { 
        line-height: 1.3em;
        font-size: 1.125em;
    }


    #n-e .credit-title {
        font-size: 1.9em;
        line-height: 1.3em;
        margin-bottom: 1em
    }
    #n-e .before-title-conclusion,
    #n-e .credit-title {
        cursor: pointer;
        text-align: center;
    }
    
    #n-e .image-credits {
        margin-top: 24px;

    }
        #n-e .image-credits h3 {
            font-size: 1em;
        }
        #n-e .image-credits p {
            font-size: .875em;
        }

#n-e .conclusion-question {
	text-align: center;
}

#n-e .step2 a {
    border-radius: 15px;
    background: #3b5998;
    color: #fff;
    display: inline-block;
    font: 13px/32px oswald-bold, sans-serif;
    height: 32px;
    min-width: 32px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 24px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

	#n-e .step2 .icon {
	    background: #fff;
	    display: inline-block;
	    height: 25px;
	    left: 8px;
	    overflow: hidden;
	    position: absolute;
	    top: 1px;
	    width: 26px;
	}

#n-e .outbrain-wrapper {
	margin-bottom: 4em;
}

@media (max-width: 768px) {
	#n-e .topBanner {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#n-e .fixedLeftCollumn>*:nth-child(2) {
		padding-bottom: 0;
		padding-right: 1.75em;
	}

	#n-e .slider blockquote {
		padding: 0 10%;
	}
}

@media (min-width: 600px) {
	#n-e .conclusion-bigLink img {
		width: 47%;
		float: left;
		margin-right: 30px;
	}
}


@media (min-width: 768px) {

	#n-e {
		font-size: 18px;
		line-height: 1.4em;
	}

	#n-e .topBanner {
		background-color: #6688b3;
		margin-bottom: 43px;
	}

	#n-e .topBanner h1 {
		padding: 14px 0;
	}

	#n-e .article-header .chapeau {
		margin-bottom: 44px;
	}

		#n-e .topBanner p {
			font-size: .944444444em;
			line-height: 1.2;
			font-size: 1em;
			background-color: transparent;
			text-align: left;
		}


	#n-e .slider blockquote {
		font-size: 2.777777778em;
	}
		#n-e .slider blockquote .smallWrapper {
			padding-top: 0;
			padding-bottom: 0;
		}
	
	#n-e .article-header .tag {
		margin: auto;
	}

	#n-e .article-header img {
		margin-bottom: 44px;
	}
	
	#n-e .legend { font-size: .944444444em; }
	#n-e .slider button { width: 120px;	}
		#n-e .slider button svg {
			width: 43px;
			height: 77px;
			margin-top: -42px;
		}

		#n-e .slider .btnLeft svg{ left: 2em; }
		#n-e .slider .btnRight svg{ right: 2em; }

	#n-e .credits {
        padding: 24px 30px;
    }
}

@media (min-width: 1000px) {
	#n-e .topBanner {
		padding: 0;
	}
}

/* end ELEMENTS */

@media print {
	#n-e .commonText em { 
		box-shadow: none;
	}

	#n-e .slide:not(:first-child) {
		position: relative;
		opacity: 1;
		visibility: visible;
		background: none;
	}

	#n-e .slider blockquote {
		color: #000;
	}

	#n-e .conclusion-bigLink img {
    	max-width: 400px!important;
    	width: 47%!important;
		float: left!important;
		margin-right: 30px!important;
	}
}